<!DOCTYPE html>
<html xml:lang="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>welcome</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<style>
    .h2-s{
        margin: 0 5px;
    }
</style>

</head>
<body>

<div class="h-100 d-flex align-items-center justify-content-center">
<h2 class="h2-s"> Welcome </h2>
<h2 class="h2-s" th:text="${firstname}"> first name  </h2>
<h2 class="h2-s" th:text="${lastname}"> last name</h2>
</div>
</body>
</html>
